{% extends "layout.html" %}
{% block content %}
<table style = "width:100% " border = 1>
  <tr>
      <th> PRODUCT </th>
      <th> PRICE </th>
      <th> QUANTITY </th>
  </tr>
{% for product in cart %}
  <tr>
    <th> {{product["name"]}} </th>
    <th> {{product["price"]}} </th>
    <th> {{product["Q"]}} </th>
    </tr>
{% endfor %}
<tr>
  <th> </th>
  <th> Total: {{total}} </th>
  <th> </th>
<br>

{%if current_user.is_authenticated%}
<h2><a class="article-title" href="{{ url_for('userCheckout', total = total) }}">Checkout</a></h2>
{%else%}
<h2><a class="article-title" href="{{ url_for('guestCheckout', total = total) }}">Checkout</a></h2>
{%endif%}
{% endblock content %}
